/* Custom Css for Editorjs editor */

.ce-block__content {
    max-width: 100%;
    padding: 1rem;
}

.ce-toolbar__content {
    max-width: 100%;
}
.ce-toolbar {
    display: none !important;
}

.ce-inline-tool {
    color: #565656;
    font-family: 'Poppins', sans-serif;
    padding: "5rem";
}

.ce-inline-tool--active {
    color: #DF1C0F;
}